<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>
<body>
<div class="container">
    <div class="title">Evaluacion Final</div>

    <div class="card-container">
        <div class="card1">
            <div class="card-title"><a href="http://127.0.0.1:5000/ejercicio1">Ejercicio 1</a></div>
        </div>

        <div class="card2">
            <div class="card-title"><a href="http://127.0.0.1:5000/ejercicio2">Ejercicio 2</a></div>
        </div>
    </div>
</body>
</html>